html {
  position: relative;
  min-height: 100%;
}
body {
   /* Margin bottom by footer height  */
  margin-bottom: 100px;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
      
      padding: 60px 15px 0;
    
  
}

.footer {
      position: inherit;
      bottom: 0;
      width: 100%;
      /* set the fixed height of the footer here */
      height: 60px;
    background-color: #f5f5f5;

}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
  font-size: 80%;
}

tbody tr:nth-child(odd){
  background-color: #F7FBFF;
}